html {
  width: 100%;
}
.class1 {
  width: 100%;
  height: 1100px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1100px;
}
/*最外部的div*/
.container {
  width: 100%;
  height: 1100px;
  font-family: Verdana;
}
/*头部的样式*/
.box_sizing {
  box-sizing: border-box;
}
header {
  min-height: 70px;
  padding: 10px 0;
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box;
  font-family: Verdana;
}
.a {
  position: relative;
}
.a div {
  display: inline-block;
}
.a1 img {
  width: 113px;
  margin-top: 5px;
}
.a2 {
  border: 1px solid #e4e4e4;
  position: absolute;
  left: 50%;
  margin-left: -190px;
  top: 6px;
  width: 380px;
  height: 38px;
}
/*输入框的具体样式设置*/
.input1 {
  width: 100%;
  height: 38px;
  line-height: 14px;
  border: 0;
  box-sizing: border-box;
  padding: 0 150px 0 15px;
  font-size: 12px;
  font-family: Verdana;
}
.input1:focus {
  outline: 0;
}
.cursor {
  cursor: pointer;
}
.a2 a {
  display: inline-block;
  position: absolute;
  background-color: #eee;
  font-size: 12px;
  color: #888;
  text-decoration: none;
  top: 12px;
  cursor: pointer;
}
.a2 a:hover {
  background-color: #ccc;
  color: #444;
}
.p1 {
  left: 190px;
}
.p2 {
  left: 250px;
}
.p3 {
  left: 285px;
}
/*点击框的样式*/
.input2 {
  position: absolute;
  width: 40px;
  height: 38px;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  background: #fff url("img/search.png") no-repeat center;
  left: 341px;
  top: 0;
  cursor: pointer;
}
.input2:hover {
  background: #35b558 url("img/search.png") no-repeat center;
}
/*最右边的样式*/
.a3 {
  float: right;
  width: 170px;
  left: 100%;
  margin-left: -170px;
  height: 15px;
  position: absolute;
  display: inline-block;
  top: 18px;
  box-sizing: border-box;
}
.a3 a {
  font-size: 12px;
  text-decoration: none;
  color: #333;
  font-family: Verdana;
  height: 15px;
  position: relative;
  display: inline-block;
  top: -2px;
}
/*以下是从左到右的各个图标的样式*/
.span1 {
  background: url("img/massage.gif") no-repeat;
  background-size: 15px 13px;
  width: 16px;
  height: 15px;
  position: relative;
  display: inline-block;
  top: 3px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
  font-family: Verdana;
}
.span2 {
  width: 42px;
}
.span3 {
  width: 30px;
  text-align: center;
}
.span4 {
  width: 30px;
}
.a3 em {
  display: inline-block;
  height: 15px;
  width: 6px;
  overflow: hidden;
}
.line {
  height: 2px;
  width: 100%;
  overflow: hidden;
  background: #35b558;
  background: -webkit-gradient(linear, 10% 10%, 100% 100%, color-stop(0.14, #35b558), color-stop(0.5, #8aca8c), color-stop(1, #2d85ca));
}
/*导航外部div的设置*/
.nav {
  width: 1000px;
  height: 42px;
  margin: 0 auto;
  box-sizing: border-box;
}
/*左边样式设置*/
.left1 {
  width: 74%;
  height: 42px;
  float: left;
}
.left1 a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
  display: inline-block;
  width: 120px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-family: Verdana;
}
.left1 a:hover {
  color: #35b558;
}
/*右边样式设置*/
.right1 {
  width: 26%;
  height: 42px;
  float: right;
}
.right1 a {
  text-decoration: none;
  color: #333;
  margin-left: 16px;
  font-size: 12px;
  font-family: Verdana;
}
.right1 span {
  height: 42px;
  position: relative;
  display: inline-block;
  top: auto;
  width: auto;
  line-height: 42px;
  box-sizing: border-box;
}
.right1 span img {
  margin-right: 5px;
  vertical-align: middle;
}
#new {
  height: 15px;
  position: absolute;
  display: inline-block;
  top: 1px;
  width: 14px;
  left: 66px;
}
/*中间部分的设置*/
article {
  height: 402px;
  width: 1000px;
  overflow: hidden;
  margin: 20px auto 10px auto;
}
/*中间最外层的设置*/
.middle1 {
  width: 100%;
  height: 373px;
  float: left;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
/*中间内部的设置*/
.middle2 {
  width: 560px;
  margin: 0 220px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
/*左边部分的设置*/
.left2 {
  width: 210px;
  float: left;
  margin-left: -100%;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-top: 2px solid #35b558;
}
.left2 table {
  height: 400px;
  border: 1px solid #e4e4e4;
  border-right: 0;
  border-top: 0;
  position: absolute;
  box-sizing: border-box;
  border-collapse: collapse;
}
.left2 table td {
  cursor: pointer;
  border-bottom: 1px solid #f5f5f5;
  background: url("img/more.png") 186px center no-repeat;
  background-size: 6px 10px;
  border-right: 1px solid #e4e4e4;
  width: 209px;
  height: 35px;
  box-sizing: border-box;
  padding-left: 15px;
  line-height: 35px;
}
.left2 table td:hover {
  border-right: 0;
  border-left: 2px solid #35b558;
}
.left2 table td:hover .left2_div {
  display: block;
  border-left: 0px;
}
.left2 table td:hover #left2_a {
  color: #35b558;
  border-right: 0;
}
.left2_div {
  height: auto;
  position: absolute;
  display: none;
  top: auto;
  margin-left: 194px;
  width: 400px;
  min-height: 400px;
  box-sizing: border-box;
  padding-left: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
  z-index: 2;
}
#left2_div1 {
  margin-top: -42px;
}
#left2_div2 {
  margin-top: -84px;
}
#left2_div3 {
  margin-top: -126px;
}
#left2_div4 {
  margin-top: -168px;
}
#left2_div5 {
  margin-top: -210px;
}
#left2_div6 {
  margin-top: -252px;
}
#left2_div7 {
  margin-top: -294px;
}
#left2_div8 {
  margin-top: -336px;
}
#left2_div9 {
  margin-top: -378px;
}
#left2_div10 {
  margin-top: -420px;
}
.left2_p {
  color: #666;
  font-size: 13px;
  display: block;
  border-bottom: 1px solid #f5f5f5;
}
.left2_span {
  color: #666;
  font-size: 13px;
}
.left2_span:hover {
  color: #35b558;
}
/*右边部分的设置*/
.right2 {
  width: 210px;
  float: left;
  margin-left: -210px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
td a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 13px;
  font-weight: 400;
}
/*中间图片的设置*/
.image {
  height: 260px;
  width: 560px;
  overflow: hidden;
  position: relative;
}
.image:hover .image_i {
  display: block;
}
.image a {
  background: url("img/1.jpg") 50% 50% no-repeat #35b558;
  width: 560px;
  height: 260px;
  display: block;
}
.image_ul {
  margin: 0;
  padding: 0;
  width: 99999px;
  height: 260px;
  position: relative;
}
.image_li {
  list-style: none;
  float: left;
  position: relative;
  width: 560px;
  height: 260px;
}
.image_li_a_img {
  display: block;
  width: 560px;
  height: 260px;
}
.image_i {
  height: 40px;
  position: absolute;
  display: none;
  top: 50%;
  width: 30px;
  cursor: pointer;
  margin-top: -17px;
  box-sizing: border-box;
}
#pre {
  background: url(img/news.png) no-repeat 5px -57px;
  background-color: rgba(0, 0, 0, 0.3);
  left: 10px;
}
#next {
  background: url(img/news.png) no-repeat -22px -57px;
  background-color: rgba(0, 0, 0, 0.3);
  right: 10px;
}
.image_line {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.image_line li {
  display: inline-block;
  list-style: none;
  width: 32px;
  height: 2px;
  margin-left: 15px;
  background-color: #fff;
  cursor: pointer;
}
.image_line .image_span {
  background-color: #35b558;
}
/*中间部分图片下面内容的设置*/
.middle3 {
  height: 130px;
  width: 558px;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  margin-top: 10px;
  position: relative;
}
.middle3:hover .middle3_i {
  display: block;
}
.middle3 span {
  display: inline-block;
  box-sizing: border-box;
  width: 185.5px;
  height: 130px;
  border-right: 1px solid #eee;
}
.middle3 span img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 10px auto;
}
.middle3 span p {
  font-size: 12px;
  color: #333;
  text-align: center;
}
.middle3_ul {
  padding: 0;
  margin: 0;
  position: relative;
  width: 99999px;
  height: 130px;
}
.middle3_li {
  display: inline-block;
  float: left;
  list-style: none;
  width: 185.5px;
  height: 130px;
  box-sizing: border-box;
  cursor: pointer;
}
#s {
  border-right: 0;
}
.middle3_i {
  height: 40px;
  position: absolute;
  display: none;
  top: 50%;
  width: 25px;
  margin-top: -20px;
  cursor: pointer;
}
#middle3_pre {
  background: url(img/focus-nav.png) 0 0 no-repeat;
  background-size: 48px 80px;
  left: 0;
}
#middle3_pre:hover {
  background: url(img/focus-nav.png) 0 -40px no-repeat;
  background-size: 48px 80px;
}
#middle3_next {
  background: url(img/focus-nav.png) -24px 0 no-repeat;
  background-size: 48px 80px;
  right: 0;
}
#middle3_next:hover {
  background: url(img/focus-nav.png) -24px -40px no-repeat;
  background-size: 48px 80px;
}
/*右边内容的设置*/
.right2_p1 {
  height: 125px;
  padding: 0 13px;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
}
.right2_p1 h3 {
  font-size: 14px;
  color: #333;
}
.right2_p1 p {
  margin-top: -13px;
}
.right2_p1 a {
  text-decoration: none;
  font-size: 12px;
  color: #666;
}
#photo {
  color: #ff0000;
}
#b {
  color: #35b558;
}
.right2_p2 {
  height: 86px;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
}
.right2_p2 .img {
  width: 64px;
  box-sizing: border-box;
  float: left;
  margin-top: 10px;
}
.right2_p2 .img img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
.right2_p2 .div {
  width: 120px;
  height: 74px;
  box-sizing: border-box;
  float: left;
  margin-left: -2px;
}
.right2_p2 .div .div1 {
  width: 120px;
  height: 37px;
  margin-top: 12px;
}
.right2_p2 .div p {
  font-size: 12px;
  color: #666;
}
.we {
  margin-top: -10px;
}
.div2 {
  width: 140px;
  height: 20px;
  box-sizing: border-box;
}
.div2 a {
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  float: left;
  font-size: 12px;
  display: inline-block;
  width: 48px;
  height: 20px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
}
.div2 .d1 {
  background-color: #fb5d20;
}
.div2 .d2 {
  background-color: #35b558;
}
.icon {
  box-sizing: border-box;
}
.icon1 {
  width: 52px;
  height: 88px;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  float: left;
  box-sizing: border-box;
  line-height: 38px;
  border-right: 1px solid #f5f5f5;
}
.icon1 span:nth-child(1) {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(img/icon.png);
  background-size: 71px 232px;
  margin: 13px auto 0;
}
.icon1 span:nth-child(2) {
  display: block;
}
.icon1 span:nth-child(3) {
  display: block;
  width: 0;
  height: 0;
  border: 8px solid #ccc;
  border-bottom: 0;
  margin-left: 18px;
  border-left-color: transparent;
}
.icon1 a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  display: block;
}
.icon1 a:hover {
  color: #35b558;
}
.icon1 a:hover:hover .i5:hover {
  background-position: -41.5px -115px;
}
.icon1 a:hover:hover .i6:hover {
  background-position: -41.5px -143px;
}
.icon1 a:hover:hover .i7:hover {
  background-position: -41.5px -171px;
}
.icon1 a:hover:hover .i8:hover {
  background-position: -41.5px -199px;
}
.i1 {
  background-position: -5px -3px;
}
.i2 {
  background-position: -5px -31px;
}
.i3 {
  background-position: -5px -59px;
}
.i4 {
  background-position: -5px -87px;
}
.i5 {
  background-position: -5px -115px;
}
.i6 {
  background-position: -5px -143px;
}
.i7 {
  background-position: -5px -171px;
}
.i8 {
  background-position: -5px -199px;
}
/*中间导航部分的设置*/
section {
  width: 1000px;
  margin: 10px auto;
  position: relative;
}
.section_header {
  width: 1000px;
  height: 40px;
  position: relative;
}
.public_answer {
  height: auto;
  position: relative;
  display: inline-block;
  top: auto;
  cursor: pointer;
}
.public_answer:hover .public_hidden {
  margin-left: 0;
  opacity: 1;
}
.public_course {
  height: 40px;
  position: relative;
  display: inline-block;
  top: auto;
  color: #666;
  line-height: 40px;
  font-size: 18px;
  cursor: pointer;
}
.public_answer_span {
  height: 13px;
  position: relative;
  display: inline-block;
  top: -2px;
  width: 13px;
  background-color: #999;
  line-height: 13px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
}
.public_hidden {
  height: 20px;
  position: relative;
  display: inline-block;
  top: -1px;
  width: 120px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #888;
  border: 1px solid #e4e4e4;
  box-shadow: 1px 1px 3px #e4e4e4;
  opacity: 0;
  margin-left: -5px;
  transition: margin-left 0.5s ease-in, opacity 0.5s ease-in;
}
.public_hidden_i {
  background: url(img/2.jpg) center center no-repeat;
  height: 10px;
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -5px;
  left: -5px;
}
.public_all {
  height: 20px;
  position: absolute;
  display: inline-block;
  top: 50%;
  text-decoration: none;
  font-size: 12px;
  right: 0;
  margin-top: -10px;
  color: #0000ff;
}
/*项目介绍部分*/
.combat {
  width: 1000px;
  height: 560px;
  position: relative;
  margin: 10px auto;
}
.combat_nav {
  width: 1000px;
  height: 38px;
  position: relative;
  border-bottom: 2px solid #eee;
}
.combat_nav_a {
  width: 166px;
  height: 38px;
  position: relative;
  display: inline-block;
  float: left;
  text-decoration: none;
  color: #666;
  font-size: 14px;
  text-align: center;
  line-height: 38px;
}
.combat_nav_a:hover {
  color: #35b558;
}
#recommend {
  border-bottom: 2px solid #35b338;
}
.combat_nav_a_i {
  width: 0;
  height: 0;
  position: absolute;
  display: none;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #35b558;
  left: 50%;
  margin-left: -5px;
  top: 28px;
}
#recommend_i {
  display: block;
}
.combat_content {
  width: 1000px;
  height: 450px;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  display: none;
}
#recomment_content {
  display: block;
}
.combat_content_1:hover .combat_hidden {
  display: block;
}
.combat_content_first {
  width: 1000px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.combat_content_second {
  width: 1000px;
  height: auto;
  position: absolute;
  top: 260px;
  left: 0;
}
.combat_content_1 {
  display: inline-block;
  width: 235px;
  height: auto;
  position: relative;
  float: left;
  border: 1px solid #ccc;
  margin-left: 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.combat_content_1_img {
  display: block;
  width: 233px;
  height: 130px;
}
.hidden_p {
  color: #666;
  font-size: 12px;
  display: none;
  margin-left: 10px;
}
.combat_hidden {
  width: 233px;
  height: 130px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.combat_hidden_i {
  height: 40px;
  position: absolute;
  display: inline-block;
  top: 50%;
  width: 42px;
  background: url(img/icon_7f8b929.png) no-repeat -57px 0;
  margin-left: -21px;
  left: 50%;
  margin-top: -20px;
}
.combat_time {
  position: relative;
  color: #888;
  font-size: 12px;
  min-height: 50px;
  z-index: 400;
  padding-left: 10px;
  background-color: #fff;
}
h3 {
  color: #333;
  font-size: 14px;
  margin-left: 5px;
  height: 40px;
}
.combat_time_1 {
  position: relative;
}
.combat_time_2 {
  position: relative;
  display: none;
}
.combat_time_2 span {
  position: relative;
  top: 5px;
}
.combat_time_1_i {
  height: 15px;
  position: absolute;
  display: inline-block;
  top: 1px;
  width: 15px;
  left: 0;
  background: url(img/icon_7f8b929.png) no-repeat 0 -72px;
}
.combat_time_span {
  margin-left: 15px;
}
.combat_time_1_span {
  display: none;
  right: 10px;
  position: absolute;
}
.combat_time_i {
  height: 20px;
  position: absolute;
  display: inline-block;
  top: 0;
  width: 20px;
  background: url(img/icon_7f8b929.png) no-repeat 0 -86px;
  right: 10px;
}
.combat_time_2_i {
  height: 20px;
  position: absolute;
  display: inline-block;
  top: 0;
  width: 20px;
  background: url(img/icon_7f8b929.png) no-repeat 0 -50px;
  left: 0;
}
/*尾部上半部分的设置*/
.footer_1 {
  width: 100%;
  height: 265px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
/*尾部上半部分左边导航的设置*/
.footer_1_1 {
  width: 1000px;
  margin: 0px auto;
  box-sizing: border-box;
}
.footer_1_1 dl {
  width: 185px;
  height: 221px;
  margin: 25px 0;
  min-height: 175px;
  float: left;
  color: #888;
  box-sizing: border-box;
  padding-left: 30px;
  border-right: 1px solid #ccc;
}
.footer_1_1 dl dt {
  margin-bottom: 5px;
}
.footer_1_1 dl dd {
  margin-left: -6px;
  margin-bottom: 5px;
}
.footer_1_1 dl:nth-child(1) {
  border-left: 1px solid #ccc;
}
.dt {
  color: #888;
  font-size: 14px;
  text-decoration: none;
}
.dt:hover {
  color: #35b558;
}
.footer_1_1_a {
  text-decoration: none;
  vertical-align: sub;
  color: #888;
  font-size: 12px;
}
.footer_1_1_a:hover {
  color: #35b558;
}
/*尾部上半部分右边部分的设置*/
.footer_1_2 {
  float: left;
  margin-left: 30px;
  box-sizing: border-box;
}
.footer_1_2_str {
  color: #35b558;
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-top: 19px;
  margin-left: 10px;
  box-sizing: border-box;
}
.footer_1_2_div {
  margin-left: 10px;
}
.footer_1_2_a {
  text-decoration: none;
  display: none;
  box-sizing: border-box;
  margin-top: 15px;
}
.footer_1_2_img {
  width: 21px;
  height: 39px;
  margin-bottom: -3px;
  display: inline-block;
}
.footer_1_2_iphone {
  display: inline-block;
  margin-left: 10px;
}
.footer_1_2_p1 {
  display: block;
  color: #888;
  font-size: 18px;
}
.footer_1_2_p1:hover {
  color: #35b558;
}
.footer_1_2_p2 {
  display: block;
  color: #aaa;
  font-size: 14px;
}
.footer_1_2_p2:hover {
  color: #35b558;
}
.footer_1_2_a1 {
  background: url(img/icon1.png) -23px 0 no-repeat;
  background-position: -23px 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 15px 8px;
}
.footer_1_2_a1:hover {
  background-position: -23px -40px;
}
.footer_1_2_a2 {
  background: url(img/icon1.png) -23px 0 no-repeat;
  background-position: -145px 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 15px 8px;
}
.footer_1_2_a2:hover {
  background-position: -145px -40px;
}
.footer_1_2_a3 {
  background: url(img/icon1.png) -23px 0 no-repeat;
  background-position: -23px -82px;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 15px 8px;
}
.footer_1_2_a3:hover {
  background-position: -23px -122px;
}
.link_a {
  text-decoration: none;
  display: inline-block;
}
.kefu {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 6px;
  background: url(img/kefu.png) 0 0px 40px no-repeat;
}
.link {
  display: inline-block;
  margin-left: 5px;
}
.link_1 {
  display: block;
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
}
.link_1:hover {
  color: #35B558;
}
.link_2 {
  display: block;
  color: #aaa;
  font-size: 12px;
}
.link_2:hover {
  color: #35b558;
}
/*尾部下半部分的设置*/
.footer_2 {
  width: 1000px;
  margin: 15px auto;
  text-align: center;
  color: #aaa;
  font-size: 12px;
}
.footer_2_1 {
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
}
.footer_2_1:hover {
  color: #35b558;
}
.left1:hover .left1_hidden {
  display: block;
}
.left1_hidden {
  width: 1000px;
  height: 150px;
  position: absolute;
  display: none;
  z-index: 2;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 30px;
  overflow: hidden;
  border: 1px solid #eee;
}
.left1_hidden_div {
  display: inline-block;
  padding-left: 25px;
  box-sizing: border-box;
  padding-top: 20px;
}
.left1_hidden_div:hover {
  background-color: #f8f8f8;
}
#left1_hidden_a {
  text-decoration: none;
  color: #666;
  font-size: 12px;
  display: block;
  box-sizing: border-box;
  text-align: left;
  margin-top: -10px;
}
#left1_hidden_a:hover {
  color: #35b558;
}
/*职业路径图部分*/
.section_job {
  margin: 20px auto;
  width: 1000px;
  min-height: 500px;
  background-color: #fff;
}
.section_job_header {
  min-height: 20px;
}
.section_job_span1 {
  display: inline-block;
  float: left;
  color: #333;
  cursor: pointer;
}
.section_job_span1_img {
  dispaly: inline-block;
}
.section_job_span1_img:hover .section_job_span1_img2 {
  opacity: 1;
  margin-left: 0;
}
.section_job_span1_img1 {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #999;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 13px;
  cursor: pointer;
}
.section_job_span1_img2 {
  color: #666;
  font-size: 12px;
  border: 1px solid #e4e4e4;
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  box-shadow: 1px 1px 3px #ccc;
  opacity: 0;
  margin-left: -5px;
  transition: margin-left 0.5s ease, opacity 0.5s ease;
}
.section_job_span1_img2_i {
  background: url(img/2.jpg) center center no-repeat;
  height: 10px;
  position: absolute;
  display: block;
  top: 5px;
  width: 5px;
  left: -5px;
}
.section_job_span2 {
  display: inline-block;
  float: right;
  color: #2d85ca;
  font-size: 12px;
  cursor: pointer;
}
.section_job_table1 {
  width: 1000px;
  border-spacing: 0px;
  margin-top: 20px;
}
#section_job_td {
  border: 1px solid #e4e4e4;
  width: 200px;
  height: 300px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}
#section_job_td:hover {
  border: 1px solid #35b558;
}
#section_job_td:hover .section_job_td_button {
  background-color: #35b558;
  color: #fff;
}
.section_job_td_img {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: -10px;
}
.section_job_td_span1 {
  color: #333;
  font-size: 15px;
  display: block;
  margin: 20px 0;
}
.section_job_td_span2 {
  color: #666;
  font-size: 12px;
  display: block;
}
.section_job_td_span3 {
  color: #666;
  font-size: 12px;
  display: block;
  margin-bottom: 20px;
}
.section_job_td_button {
  width: 140px;
  height: 34px;
  display: block;
  line-height: 34px;
  text-align: center;
  border: 1px solid #35b558;
  color: #35b558;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  cursor: pointer;
}
/*知识体系部分*/
.knowledge {
  min-height: 300px;
  width: 1000px;
  margin: 0 auto;
}
.knowledge_table {
  min-height: 200px;
  width: 1000px;
  margin: 20 auto;
}
.knowledge_table1 {
  width: 1000px;
  border-spacing: 0;
  box-sizing: border-box;
}
.knowledge_td {
  width: 160px;
  height: 120px;
  position: relative;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  perspective: 2000px;
}
.knowledge_td:hover .knowledge_td_div {
  transform: rotateY(180deg);
}
/*旋转部分*/
.knowledge_td_div {
  width: 160px;
  height: 120px;
  position: relative;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}
.td_font {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 120px;
  position: absolute;
  display: inline-block;
  top: -70px;
  width: 160px;
  margin: 50% auto auto 50%;
  left: -80px;
}
.td_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 120px;
  position: absolute;
  display: inline-block;
  top: -70px;
  width: 160px;
  margin: 50% auto auto 50%;
  left: -80px;
  transform: rotateY(180deg);
}
.knowledge_img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 10px auto;
  box-sizing: border-box;
}
.td_font_span1 {
  color: #333;
  font-size: 15px;
  margin-top: 10px;
  display: block;
  box-sizing: border-box;
}
.td_font_span2 {
  color: #35b558;
  font-size: 14px;
  display: block;
}
.td_back_span {
  color: #333;
  font-size: 15px;
  display: block;
}
.td_back_button {
  width: 140px;
  height: 34px;
  line-height: 34px;
  display: block;
  color: #fff;
  border: 1px solid #35b558;
  background-color: #35b558;
  text-align: center;
  margin: 20px auto;
}
.section_content {
  display: inline-block;
  width: 236px;
  height: 260px;
  position: relative;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  margin-right: 5px;
}
.section_content:hover {
  border-color: #35b558;
}
.section_content:hover .section_content_hidden {
  opacity: 1;
}
.section_content_font {
  width: 216px;
  height: 230px;
  position: relative;
  margin: 10px auto;
}
.section_content_font h4 {
  font-size: 14px;
}
.section_content_hidden {
  width: 216px;
  height: 230px;
  position: absolute;
  top: 13px;
  left: 50%;
  margin-left: -108px;
  background: #ffffff;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.section_content_hidden_div {
  width: 216px;
  height: 76px;
  position: relative;
  text-align: center;
}
.section_content_hidden_div_span {
  color: #888;
  font-size: 12px;
  cursor: pointer;
}
.section_content_hidden_span1 {
  color: #35b558;
  font-size: 12px;
  display: block;
  width: 216px;
  margin: 0 auto;
}
.section_content_hidden_span2 {
  display: block;
  width: 102px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  margin: 30px auto;
  line-height: 30px;
  background-color: #35b558;
  border-radius: 3px;
  text-align: center;
}
.section_content_hidden_div_img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}
.section_content_font_img {
  width: 216px;
  height: 155px;
  display: block;
}
.section_content_span {
  width: 216px;
  height: 25px;
  position: relative;
  display: block;
  line-height: 25px;
}
.section_content_span_1 {
  color: #888;
  font-size: 12px;
  display: inline-block;
}
.section_content_span_2 {
  width: 60px;
  height: 20px;
  position: absolute;
  display: block;
  line-height: 20px;
  text-align: center;
  background-color: #35b558;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  top: 50%;
  margin-top: -10px;
  right: 0;
}
/*wiki部分的样式*/
.section_Wiki {
  width: 330px;
  height: 370px;
  position: relative;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  display: table-cell;
}
.section_Wiki_content {
  width: 304px;
  height: 340px;
  margin: 0px auto;
}
.section_Wiki_content h6 {
  color: #222;
  font-size: 14px;
  margin: 10px 0;
}
.section_Wiki_dl {
  width: 304px;
  height: auto;
  position: relative;
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
  perspective: 2000px;
}
.section_Wiki_dl dd {
  width: 140px;
  height: auto;
  position: relative;
  display: inline-block;
  margin: 0;
  transform-style: preserve-3d;
}
.section_Wiki_dl dd:last-child {
  margin-left: 10px;
}
.section_Wiki_img {
  display: block;
  width: 144px;
  height: 203px;
  position: relative;
  border-radius: 5px;
  transform-origin: left center 0;
  transition: transform 1.5s ease;
  z-index: 20;
}
.section_Wiki_img:hover {
  transform: rotateY(-25deg);
}
.shadow {
  width: 144px;
  height: 203px;
  position: absolute;
  top: 0;
  background-color: #888;
  border-radius: 5px;
  z-index: 1;
}
.section_Wiki_dl_span1 {
  display: block;
  width: 144px;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.section_Wiki_dl_span2 {
  display: block;
  width: 144px;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.section_Wiki_ul {
  width: 304px;
  padding: 0;
  margin: 20px 0;
}
.section_Wiki_ul li {
  width: 304px;
  height: 14px;
  position: relative;
  color: #aaa;
  font-size: 12px;
  list-style: none;
}
.section_Wiki_ul_1 {
  display: inline-block;
  position: relative;
  left: 0;
}
.section_Wiki_ul_2 {
  display: inline-block;
  position: absolute;
  right: 0;
}
/*回到顶部的部分*/
.goUp {
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 100%);
}
.goUp:hover {
  background-image: linear-gradient(#35b558 0, #35b558 100%);
}
/*回到顶部的图片*/
.Up_i {
  height: 17px;
  position: absolute;
  display: inline-block;
  top: 50%;
  width: 33px;
  left: 50%;
  margin-top: -8.5px;
  margin-left: -16.5px;
  background: url(img/top.png) -39px -10px no-repeat;
}
